@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #4C9AFF; 
    --secondary-color: #1D2D50;
    --background-gradient: linear-gradient(135deg, #f0f4ff, #e8f0fd); 
    --card-background: #ffffff; 
    --text-color: #333333; 
    --hover-color: #3778C2;
    --button-bg: #4C9AFF; 
    --button-text-color: #ffffff; 
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: var(--background-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.flex {
    display: flex;
    justify-content: left;
    align-items: center;
}

.bg-card {
    background-color: var(--card-background);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 1); 
    border-radius: 10px;
    padding: 1.5rem;
    width: 100%;
    max-width: 480px;
    transition: transform 0.3s ease-in-out;
}

.bg-card:hover {
    transform: scale(1.02); 
}

h1, h2 {
    color: var(--secondary-color);
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.text-gray {
    color: var(--text-color);
}


button {
    background-color: var(--button-bg);
    color: var(--button-text-color);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--hover-color);
}

.animate-pulse {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
}

input[type="radio"] {
    appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    position: relative;
    margin-right: 0.5rem;
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: var(--primary-color);
}

input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.6rem;
    height: 0.6rem;
    background-color: white;
    border-radius: 50%;
}
